/* Font Size Class Start */
.text {
  &-inherit {
    font-size: inherit;
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */


@each $property, $value in $spaces {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */